@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Preahvihear&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Work Sans", sans-serif;
}

img {
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f0f14;
}

::-webkit-scrollbar-thumb {
  background: #00000028;
  transition: all 1s ease-in;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #0e0e0e;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    margin-bottom: 2em;
  }

  100% {
    opacity: 1;
  }
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.welcome-information {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.img-welcome {
  position: relative;
  display: inline-block;
}

.img-welcome img {
  display: block;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 150px 55px rgba(120, 116, 116, 0.37);
  -moz-box-shadow: 1px 1px 150px 55px rgba(120, 116, 116, 0.37);
  box-shadow: 1px 1px 1000px 250px rgba(120, 116, 116, 0.094);
}

.img-welcome {
  transition: all 0.2s ease-in;
}

.img-welcome:hover {
  transform: scale(1.1);
}

.text-title {
  margin-top: 1em;
}

.text-title h1 {
  color: rgb(255, 255, 255);
  font-size: 50px;
}

.text-title .gradient-word {
  background: linear-gradient(100deg, #ffffff 33%, #ffffff36 100%, #ffffff03);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
}

.text-title p {
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.548);
  font-size: 20px;
  width: 55em;
}

.other-information {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 20px;
}

.info-stack {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-stack i {
  color: rgba(255, 255, 255, 0.779);
  font-size: 25px;
}

.info-stack p,
.date-information p {
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.736);
  font-size: 20px;
}

.date-information {
  display: flex;
  margin-top: 10px;
}

.date-information i {
  color: white;
  font-size: 25px;
}

.btn-down {
  display: inline-block;
  margin-top: 25px;
  align-items: center;
  background-color: white;
  padding: 15px 50px;
  border-radius: 20px;
  border: 1px solid rgb(0, 0, 0);
  transition: all 0.2s ease-in;
}

.btn-down a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-down:hover {
  background: #ffffffd1;
  padding: 17px 55px;
}

.container-second-level {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

.container-text-skills h1 {
  text-align: center;
  color: white;
  font-size: 50px;
  margin-top: 20px;
}

.container-text-skills,
.gradient-word-1 {
  background: linear-gradient(100deg, #ffffffcf 33%, #ffffff36 100%, #ffffff03);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.my-skil-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
  justify-content: center;
  margin-top: 6em;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.skill-cart-1,
.skill-cart-2,
.skill-cart-3,
.skill-cart-4,
.skill-cart-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  border-radius: 1rem;
  padding: 2rem;
  border-width: 2px;
  border-color: rgba(229, 231, 235, 0.3);
  cursor: pointer;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in;
}

.skill-cart-4 {
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
}

.skill-cart-5 {
  grid-column: 1 / -1;
}

.my-skil-container img {
  max-width: 100px;
}

.skill-cart-1 {
  background-color: rgba(0, 0, 0, 0.275);
  box-shadow: 0px 0px 100px 1px #c25b5b1d;
  background-color: #b46a6a1d;
}

.skill-cart-2 {
  box-shadow: 0px 0px 100px 1px #2b86ba1d;
  background-color: #2b86ba1d;
}

.skill-cart-3 {
  box-shadow: 0px 0px 100px 1px #b6a3221d;
  background-color: #b6a3221d;
}

.skill-cart-4 {
  box-shadow: 0px 0px 100px 1px rgba(66, 205, 38, 0.094);
  background-color: rgba(59, 212, 28, 0.094);
}

.skill-cart-5 {
  box-shadow: 0px 0px 100px 1px rgba(59, 85, 117, 0.321);
  background-color: rgba(59, 85, 117, 0.321);
}

.skill-cart-1:hover,
.skill-cart-2:hover,
.skill-cart-3:hover,
.skill-cart-4:hover,
.skill-cart-5:hover {
  background-color: rgba(176, 177, 179, 0.032);
  border-color: rgba(55, 65, 81, 0.4);
  transform: scale(1.05);
  box-shadow: 0 8px 28px 0 rgba(0, 0, 0, 0.2);
}

.skill-cart-1 img,
.skill-cart-2 img,
.skill-cart-3 img,
.skill-cart-4 img,
.skill-cart-5 img {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

.skill-cart-1 h1,
.skill-cart-2 h1,
.skill-cart-3 h1,
.skill-cart-4 h1,
.skill-cart-5 h1 {
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
}

.skill-cart-1 p,
.skill-cart-2 p,
.skill-cart-3 p,
.skill-cart-4 p,
.skill-cart-5 p {
  font-size: 15px;
  color: #747373;
}

.text-center-contact h1 {
  text-align: center;
  color: white;
  font-size: 50px;
  margin-top: 20px;
}

.link-cart-1 img,
.link-cart-2 img {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

.link-cart-1 h1,
.link-cart-2 h1 {
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
}

.link-cart-1 p,
.link-cart-2 p {
  font-size: 15px;
  color: #747373;
}

.link-cart-1:hover,
.link-cart-2:hover {
  background-color: rgba(176, 177, 179, 0.032);
  border-color: rgba(55, 65, 81, 0.4);
  transform: scale(1.05);
  box-shadow: 0 8px 28px 0 rgba(0, 0, 0, 0.2);
}

.link-cart-1 {
  box-shadow: 0px 0px 100px 1px #c25b5b1d;
  background-color: rgba(76, 117, 163, 0.417);
}

.link-cart-2 {
  box-shadow: 0px 0px 100px 1px #2b86ba1d;
  background-color: rgba(61, 76, 94, 0.732);
}

.link-cart-1,
.link-cart-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  border-radius: 1rem;
  padding: 2rem;
  border-width: 2px;
  text-decoration: none;
  border-color: rgba(229, 231, 235, 0.3);
  cursor: pointer;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in;
}

.container-links-my {
  display: flex;
  text-align: center;
}

/* FOOTER */
.footer {
  background: #0e0e0e;
  color: #fff;
  padding: 40px 0;
  font-family: 'Arial', sans-serif;
  margin-top: 10em;
}

.footer .footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer .footer-section {
  flex: 1;
  padding: 20px;
}

.footer .footer-section h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
  position: relative;
}

.footer .footer-section h2::after {
  content: '';
  width: 50px;
  height: 2px;
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: -10px;
}

.footer .footer-section p, 
.footer .footer-section ul {
  font-size: 1em;
  line-height: 1.6em;
}

.footer .footer-section ul {
  list-style: none;
  padding: 0;
}

.footer .footer-section ul li {
  margin-bottom: 10px;
}

.footer .footer-section ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer .footer-section ul li a:hover {
  color: #f39c12;
}

.footer-input {
  background: #0e0e0e;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.footer-input h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #fff;
  position: relative;
}

.footer-input h2::after {
  content: '';
  width: 50px;
  height: 2px;
  background: #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}

.footer-input input[type="email"] {
  margin-top: 10px;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #444;
  border-radius: 5px;
  background: #1c1c1c;
  color: #fff;
  font-size: 1em;
  transition: border-color 0.3s, background 0.3s, color 0.3s;
}

.footer-input input[type="email"]::placeholder {
  color: #777;
}

.footer-input input[type="email"]:focus {
  background: #333;
  border-color: #f39c12;
  outline: none;
}

.footer-input button {
  background: #f39c12;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 1em;
  color: #fff;
  transition: background 0.3s;
}

.footer-input button:hover {
  background: #e67e22;
}

.footer-bottom {
  background: #222;
  color: #aaa;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}



/* MEDIA QUERIES */


@media (max-width: 1200px) {
  .container-welcome {
    text-align: start;
  }
  .other-information {
    align-items: start;
  }
  .container-second-level {
   margin-left: 20px;
  }
  .container-text-skills h1 {
    text-align: start;
  }
  .container-welcome {
    display: block;
  }
  .my-skil-container {
    margin-right: auto;
    margin-left: 0;
  }
  .text-center-contact h1 {
    text-align: start;
    margin-left: 20px;
  }
  .link-cart-1,
  .link-cart-2 {
    margin-left: 20px;
  }
  
}

@media (max-width: 1200px) {
  .container-welcome {
    padding: 0 2rem;
  }
  
  .text-title p {
    display: none;
  }
}

@media (max-width: 500px) {
  .my-skil-container {
    margin-left: 50px;
  }
}

@media (max-width: 992px) {
  .my-skil-container {
    grid-template-columns: 0fr;
  }

  .skill-cart-4 {
    grid-column: auto;
    grid-row: auto;
  }

  .skill-cart-5 {
    grid-column: auto;
  }





  .container-second-level {
    margin-top: 3em;
  }
}

@media (max-width: 768px) {
  .text-title h1 {
    font-size: 40px;
  }

  .text-title p {
    font-size: 18px;
  }



  .container-text-skills h1 {
    font-size: 40px;
  }

  .my-skil-container {
    gap: 40px;
  }

  .footer .footer-content {
    flex-direction: column;
  }

  .footer .footer-section {
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .text-title h1 {
    font-size: 30px;
  }

  .text-title p {
    font-size: 16px;
  }

  .container-text-skills h1 {
    font-size: 30px;
  }

  .my-skil-container {
    gap: 20px;
  }

  .footer-input {
    padding: 20px;
  }

  .footer-input h2 {
    font-size: 1.5em;
  }

  .footer-input input[type="email"] {
    padding: 10px;
  }

  .footer-input button {
    padding: 10px 15px;
    font-size: 14px;
  }

  .footer-bottom {
    padding: 10px;
  }
}
