@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
	margin: 0;
	padding: 0;
}

img {
	pointer-events: none;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #0f0f14;
}

::-webkit-scrollbar-thumb {
	background: #88888828;
	transition: all 1s ease-in;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

body {
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: #131319;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		margin-bottom: 2em;
	}

	100% {
		opacity: 1;
	}
}

#particles-js {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

:root {
	font-family: "Plus Jakarta Sans", sans-serif;
}

.header {
	background: #0f0f14;
	padding: 15px;
	z-index: 1;
	animation: fadeIn 1s ease-in;
}

.header-logo {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header-logo a {
	color: white;
	font-size: 40px;
	margin-left: 10px;
	text-decoration: none;
}

.header-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 2em;
	margin-left: 2em;
}

.logo-color {
	color: #424255;
}

.header-text {
	display: flex;
	flex-direction: row;
	align-items: center;

}

.header-text a {
	margin-right: 2em;
	color: #f1f1f1;
	font-size: 30px;
	transition: color 0.3s ease-in-out;
}

.header-text i {
	color: white;
	font-size: 30px;
	margin-right: 10px;
}

.header-text a:hover {
	color: #2c2a2f;
}

/* MAIN */

.main {
	margin-left: 15em;
	height: 100%;
}

.container-main {
	display: flex;
	flex-direction: row;
	margin-top: 20em;
	margin-right: 25em;
	animation: fadeIn 1s ease-in;
}

.text-title-main h1 {
	color: white;
	font-family: "Preahvihear", sans-serif;
	letter-spacing: 2px;
	font-size: 50px;
}

.desciption-title p {
	color: rgba(255, 255, 255, 0.698);
	font-family: "Preahvihear", sans-serif;
	letter-spacing: 2px;
	font-size: 20px;
	margin-top: 5px;
	width: 60%;
}

.button-down-title a {
	text-decoration: none;
}

.container-img-ava img {
	animation: fadeIn 1s ease-in;
	width: 300px;
	height: 300px;
}

.button-down-title button {
	display: inline-block;
	margin-top: 25px;
	border: 1px solid #ffffff;
	border-radius: 5px;
	color: white;
	font-size: 20px;
	background: #484852;
	font-family: "Preahvihear", sans-serif;
	text-decoration: none;
	padding: 15px 20px;
	transition: all 0.5s ease-in-out;
	z-index: 1;
}

.button-down-title button:hover {
	color: rgba(255, 255, 255, 0.842);
	border: 1px solid #0f0f1400;
	background: #3e3e4876;
}

/* MAIN-2 */

.title-main-second p {
	font-family: "Plus Jakarta Sans", sans-serif;
	margin-top: 3em;
	font-size: 30px;
	color: white;
}

.container-carts {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	margin-top: 5em;
	text-align: center;
	animation: fadeIn 1s ease-in;
}

.cart__one,
.cart__two,
.cart__three,
.cart__four {
	color: white;
	padding: 20px;
	margin-right: 5em;
	border-radius: 20px;
	background: #0000002f;
	transition: all 0.2s ease-in-out;
}

.cart__one h1,
.cart__two h1,
.cart__three h1,
.cart__four h1 {
	margin-top: 15px;
}

.cart__one p,
.cart__two p,
.cart__three p,
.cart__four p {
	margin-top: 5px;
}

.cart__one img,
.cart__two img,
.cart__three img,
.cart__four img {
	width: 100px;
	height: 100px;
}

.cart__one:hover,
.cart__two:hover,
.cart__three:hover,
.cart__four:hover {
	background: #00000089;
}

.contact-text {
	font-family: "Plus Jakarta Sans", sans-serif;
	margin-top: 3em;
	font-size: 30px;
	color: white;
}

.links-contact i {
	margin-top: 1em;
	font-size: 40px;
	color: white;
	margin-right: 10px;
}

.links-contact a {
	color: white;
}

/* FOOTER */

.footer {
	margin-top: 5em;
	background-color: #0f0f14;
	color: #fff;
	padding: 20px;
	animation: fadeIn 0.4s ease-in;
}

.footer-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.container-logo,
.other-information {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.container-logo p,
.container-logo i {
	font-family: "Preahvihear", sans-serif;
	color: white;
	font-size: 30px;
}

.other-information {
	color: white;
	font-size: 20px;
}

.other-information p {
	margin-top: 10px;
}

.contact-info-footer a {
	color: white;
	margin: 5px;
	font-size: 24px;
}

.contact-info-footer a:hover {
	color: #bbb;
	transition: color 0.3s;
}
