@media only screen and (max-width: 768px) {
	.main {
		margin-left: 2em;
		margin-right: 2em;
	}

	.container-main {
		flex-direction: column;
		margin-top: 10em;
		margin-right: 5em;
	}
}

@media only screen and (max-width: 1200px) {
	.header-info {
		flex-direction: column;
	}

	.header-text a {
		display: none;
	}

	.header-text i {
		display: none;
	}
}

@media only screen and (max-width: 1650px) {
	.container-img-ava {
		display: none;
	}
}

@media only screen and (max-width: 700px) {
	.desciption-title p {
		width: 100%;
	}

	.container-logo p {
		font-size: 20px;
	}

	.contact-info-footer a {
		display: none;
	}

	.other-information {
		font-size: 15px;
	}

	.cart__one,
	.cart__two,
	.cart__three,
	.cart-four {
		margin-bottom: 50px;
	}
}